{
  "env": {
    "mocha": true,
    "jasmine": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "no-underscore-dangle": "off",
    "radix": "off",
    "consistent-return": "off",
    "comma-dangle": "off",
    "no-unused-expressions": "off",
    "padded-blocks": "off"
  }
}
